body {
    font-family: 'Ubuntu', sans-serif;
}

.container-lg{
    display: grid;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-label {
    color: #19456B;
    font-weight: 500;
}

.form-control {
    border: 2px solid #ced4da;
}

.cantidad-cuotas {
    display: none;
}

.input-credito {
    display: none;
}

.input-prestamo {
    display: none;
}

.container-botones {
    display: flex;
    justify-content: flex-end;
}

.formulario__generar {
    display: flex;
    justify-content: space-between;
    width: 15.5rem;
}

.formulario__enviar {
    display: flex;
    justify-content: flex-end;
}

.row .boton {
    color: #19456B;
    background-color: rgba(0, 0, 0, 0);
    border-color: #16C79A; 
    font-weight: 300;
    width: 7.3rem;
    border-width: 2px;
    padding: 10px 30px;
    border-radius: 30px;
    margin-top: 8px;
}

.row .boton:hover {
    color: #F8F1F1;
    background-color: #16C79A; 
    border-color: #16C79A; 
}

.row .boton-borrar {
    color: #19456B;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 300;
    width: 7.3rem;
    border-width: 2px;
    padding: 10px 30px;
    border-radius: 30px;
    margin-top: 8px;
}
